/* Layout for medium and larger screens */
@media only screen and (min-width: 768px) {
  .searchResults-section {
    width: 80%;
    margin: 2rem auto;
  }
}
@media only screen and (max-width: 768px) {
  .post-results-container {
    display: flex;
    flex-direction: column;
  }
 
}

/* Styles for post results */
.post-results-container {
  display: flex;
  padding: 0.8rem;
  border: 1px solid rgb(158, 156, 156);
  
}

.post-results-column-flex {
  display: flex;
  flex-direction: column;
  position: relative;
}

.post-results-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  flex-wrap: wrap;
}

#post-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid rgb(158, 156, 156);
}

#post-image {
  max-width: 200px;
  max-height: 200px;
  align-self: center;
  margin: 1rem 0.5rem 1rem auto;
  padding-left: 1rem;
  border-radius: 5px;
}

.post-results-content {
  padding: 0.5rem 0;
  text-align: left;
  font-weight: 500;
}

.post-results-metadata {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  margin-top: auto;
  padding-top: 1rem;
  font-weight: 500;
  color: rgb(104, 101, 101);
}

/* Styles for subreddit results */
.subreddit-results-container {
  display: flex;
  padding: 1rem;
  border: 1px solid rgb(158, 156, 156);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.sub-results-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom:0.2rem;
}
.sub-results-info p{
  margin-bottom: 0.3rem;
}
