

ul {
    list-style: none;
  }

  @media only screen and (min-width: 600px) {
  .searchResults-section {
    width:80%;
    margin: 2rem auto;
    }
}

.post-results-container{

  background-color:white;
  border: 1px solid rgb(158, 156, 156);
  color:black;
  display:flex;
  padding: 0.8rem;
  
}
.post-results-info{
  gap: 0.5rem;
  display:flex;
  align-items: center;
  color: rgb(104, 101, 101);
  font-size:0.8rem
}
#post-icon{
  border-radius:50%;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid rgb(158, 156, 156)
}
#post-image{

  align-self: center;
  border-radius:5px;
  margin: 1rem 0.5rem 1rem auto;
  padding-left:1rem;
}
.post-results-content{
  text-align: left;
  padding:0.5rem 0;
  font-weight: 500;
  
}

.post-results-metadata{
  color: rgb(104, 101, 101);
  display: flex;
  align-items: center;
  gap:5px;
  font-size: 0.9rem;
  margin-top:auto;
  padding-top:1rem;
  font-weight: 500;
}
.post-results-column-flex{
  display: flex;
  flex-direction: column;
  position:relative;
}

.subreddit-results-container{
  background-color:white;
  border: 1px solid rgb(158, 156, 156);
  color:black;
  display:flex;
  padding: 0.8rem;
}
.subreddit-results-container{


}
.flex-row{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:1rem;
}
.sub-results-info{
  display:flex;
  flex-direction: column;
  text-align: left;
}
#sub-results-icon-img{
  width:2rem;
  height:2rem;
  border-radius:50%
}