/* General styles for the navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    border: 2px solid black;
    height: 4rem;
  }
  
  #website-logo{
    max-width: 100%;
    height: auto;
  }
  /* Styles for the UserIcon */
  nav img {
    width: 10rem;
    border-radius: 5px;
  }

  
  /* Styles for the search input */
  nav input {
    width: 13rem;
    height: 20px;
    margin-right: 1rem;
    padding: 0.4rem;
    border-radius: 5px;
  }
  
  nav input:focus {
    background-color: beige;
  }
  
  /* Styles for the buttons */
  .login-btn {
    width: 6rem;
    padding: 0.4rem;
    border-radius: 5px;
    background-color: rgb(209, 4, 4);
    color:white;
    font-weight: bold;
  }
  
  /* Styles for the navigation sections */
  .nav-section {
    display: flex;
    align-items: center;
    color: white;
  }
  
  /* Styles for the user icon */
  #user-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    margin-right: 1rem;
  }
  
  /* Styles for the user stats */
  .user-stats {
    font-weight: bold;
  }
  
  /* Styles for the mobile options */
  .mobile-options span {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.8rem;
    padding: 2px 0;
    cursor: pointer;
  }
  
  /* Styles for the mobile view */
  @media only screen and (max-width: 768px) {
    nav input {
      display: none;
    }
  
  
    nav img {
      margin: 0 0.5rem;
    }
  
    nav section {
      margin-left: -3rem;
    }
  
    .user-stats {
      display: none;
    }
  
    #user-icon {
      display: none;
    }
    
    
  }
  
  /* Styles for the desktop view */
  @media only screen and (min-width: 768px) {
    nav:after {
      content: '';
      width: 100px;
      height: 50px;
    }
    
    .mobile-options span {
      display: none;
    }
  }
  
  /* Styles for the toggle slide */
  .toggle-slide {
    margin-left: 1rem;
    position: relative;
    width: 55px;
    height: 24px;
  }
  
  .toggle-slide input[type="checkbox"] {
    display: none;
  }
  
  .toggle-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .toggle-icon::after {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.2s;
  }
  
  .toggle-slide input[type="checkbox"]:checked + .toggle-icon {
    background-color: #66bb6a;
  }
  
  .toggle-slide input[type="checkbox"]:checked + .toggle-icon::after {
    transform: translateX(26px);
  }
  